<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta charset="UTF-8">



<script type="text/javascript" src="/js/views/portal/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/views/portal/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/js/views/portal/jquery.blockUI-2.66.min.js" ></script>
<script type="text/javascript" src="/js/views/portal/jquery.maskedinput.js" ></script>
<script type="text/javascript" src='/js/views/portal/jquery.dataTables.js'></script>
<script type="text/javascript" src='/js/views/portal/jquery.mapa.js'></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAGt7COocRb4Zvd54OPfP-3sB7bwQGghbw"></script>

<script type="text/javascript">
    $(document).ready( function() {
        $.ajaxSetup({
            cache : false,
            contentType : 'application/x-www-form-urlencoded;charset=UTF-8'
        }); // Deshabilita cache, pone timestamp en las URLs

        $('#mapaCont').mapa( { mapaDetail: $('#mapaDetail'),filter:$("#filter").val()} );

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function(data) {
                    $('#searchLocal').show();
                    $.localPos = data;

                    // NEW desde aca
                    setTimeout( function() {
                        $('#mapaCont').mapa('showPosition', $.localPos.coords, 'Ubicaci\u00F3n actual' );
                    }, 1000 ); // NEW hasta aca
                });
        }


        $('#searchLocal').click( function() {
            $('#mapaCont').mapa('showPosition', $.localPos.coords, 'Ubicaci\u00F3n actual' );
        } );

        $('#search').click( function() {
        } );



        var input = document.getElementById('searchTextField');
        var options = {
            types: ['address'],
            componentRestrictions: {country: 'ar'}
        };

        var autocomplete = new google.maps.places.Autocomplete($('#location')[0], options);

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();

            if( place.geometry ) {
                $('#mapaCont').mapa('showPosition',
                    { latitude: place.geometry.location.lat(), longitude: place.geometry.location.lng()},
                    place.formatted_address );
            } else {
                $.getJSON( 'https://maps.googleapis.com/maps/api/geocode/json?address=' + $('#location').val().split(' ').join('+')
                    + '&region=AR&key=AIzaSyCjWnMj6_BuVTw75vXu4GF714zhIqvJEpk', function(data) {
                    if( data && data.results ) {
                        if( data.results.leght == 0 || !data.results[0].geometry ) {
                            alert( 'No se encuentra direcci\u00F3n' );
                        } else if( data.results.leght > 1 ) {
                            alert( 'Mas de una direccion encontrada' );
                        } else {
                            $('#mapaCont').mapa('showPosition',
                                { latitude: data.results[0].geometry.location.lat, longitude: data.results[0].geometry.location.lng},
                                data.results[0].formatted_address );
                        }
                    } else {
                        alert( 'No pudo buscar direccion' );
                    }
                } );
            }

        });

        setTimeout( function() {
            $('#mapaCont').mapa('showPosition', $.localPos.coords, 'Ubicaci\u00F3n actual' );}, 2000 );
    });
</script>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<header>
</header>

<body>
<input id="filter" value="<%=filter%>" hidden>

<input id="location" style="width: 400px;">
<!--	<input id="search" type="button" value="buscar"> &nbsp;&nbsp;&nbsp;&nbsp; -->
<input id="searchLocal" type="button" value="Buscar posicion actual" style="display: none"> <br>

<br>
<div id="mapaCont" style="border: solid 1px #ccc; width: 500px; height: 500px; float: left"></div>
<div id="mapaDetail" style="width: 220px; height: 500px;border: solid 1px #ccc; float: left; padding: 4px; overflow-y: auto"></div>

</body>
</html>