<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Maquetación page 1 | Telecom Personal</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

    <!-- Estilos CSS BOOTSTRAP -->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap2.min.css">

    <!-- Estilos CSS Personalizados -->
    <link rel="stylesheet" href="/styles/personalizado.css">
    <script src="/js/global/jquery-3.2.1.min.js"></script>

    <script type="text/javascript" src='/js/views/portal/select-option.js'></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110743701-1"></script>
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','UA-110743701-1');

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110743701-1');

        function clickImg1(){
            ga('send', 'event', 'image', 'open', 'IMG', '1');
        }
        function clickImg2(){
            ga('send', 'event', 'image', 'open', 'IMG', '2');
        }
        function clickImg3(){
            ga('send', 'event', 'image', 'open', 'IMG', '3');
        }
        function clickImg4(){
            ga('send', 'event', 'image', 'open', 'IMG', '4');
        }
    </script>


</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=UA-110743701-1"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Contenedor de titulos 1 -->
<div id="titulos1" class="container">
    <div class="row">
        <div class="col col-12">
            <h1 class="platform-light-h1">Centros de atención</h1>
            <h3>Conocé las Oficinas comerciales, Agentes oficiales y Servicio Técnico más cercano.</h3><br>
        </div>
    </div>
</div>

<!-- Contenedor de Slider y menu -->
<div class="container-completo">
    <div class="row">
        <div class="col-12">
            <div class="carousel slide" id="home-carousel" data-ride="carousel">
                <div class="carousel-inner">

                    <!-- Las fotos quedan centradas vertical y horizontalmente en tamaños md y lg. En tamaños menores se ajusta solo al ancho
                    preferentemente utilizar imagenes del mismo tamaño para evitar cortes o desplazamientos hacia abajo en vistas mobile-->
                    <div class="carousel-item active">
                        <img  id="img-1" onclick="clickImg1()" class="img-fluid w-100" src="/img/1.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                        <img id="img-2" onclick="clickImg2()" class="img-fluid w-100" src="/img/2.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                        <img id="img-3" onclick="clickImg3()" class="img-fluid w-100" src="/img/3.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                        <img id="img-4" onclick="clickImg4()" class="img-fluid w-100" src="/img/4.jpg" alt="">
                    </div>
                </div>
                <a href="#home-carousel" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a href="#home-carousel" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Menu -->
    <div class="row justify-content-center">
        <div class="col-10 menu-slider">
            <nav class="nav-slider card">
                <ul>
                    <h3 class="card-title triangulito">¿Qué necesitás?</h3>
                    <a href="/portal/index?comprarLineas=1"><li> <i class="tpicon tpicon-equipos"></i><span>COMPRAR LÍNEA NUEVA</span></li></a>
                    <a href="/portal/index?comprarCelular=1"><li> <i class="tpicon tpicon-compra"></i><span>CAMBIAR MI EQUIPO</span></li></a>
                    <a href="/portal/index?pasarPersonal=1"><li> <i class="tpicon tpicon-micuenta2"></i><span>PASARME A PERSONAL</span></li></a>
                    <a href="/portal/index?recuperarChip=1"><li> <i class="tpicon tpicon-planes2"></i><span>MEJORAR MI PLAN</span></li></a>
                    <a href="/portal/index?mejorarPlan=1"><li> <i class="tpicon tpicon-chips"></i><span>RECUPERAR MI CHIP</span></li></a>
                    <button type="button" class="btn btn-slider btn-md btn-block"><span class="glyphicon glyphicon-search"></span>BUSCAR CENTROS CERCANOS</button>
                    </a>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Contenedor de titulos 2 -->
<div class="container-fluid fondo-gris">
    <div id="titulos2" class="container">
        <div class="row">
            <div class="col col-12">
                <h2 class="platform-light-h2">Conocé el nuevo sistema de atención</h2>
                <h4>Abrimos nuevas oficinas comerciales para que tengas la mejor experiencia de atención. Vení y sentite cómodo.</h4><br>
            </div>
        </div>
    </div>

    <!-- Contenedor foto y tabla -->
    <div id="imagenes2" class="container">
        <div class="row align-items-center">

            <!-- Columna para foto -->
            <div class="col col-12 col-lg-6 ">
                <img src="https://www.postularse.com/media/pictures/company_1887_workplace_1.jpg" alt="" class="img-fluid w-100">
            </div>

            <!-- Columna para tabla -->
            <div class="col col-12 col-lg-6">
                <div class="card card-md">
                    <div class="card-header">
                        <h3>Oficinas comerciales ya inauguradas:</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><b>Belgrano</b></td>
                                <td>Av. Cabildo 1592, CABA. Lu-Vi 10 a 19hs</td>
                            </tr>
                            <tr>
                                <td><b>San Miguel</b></td>
                                <td>Honduras 4748, CABA. Lu-Vi 8 a 17hs</td>
                            </tr>
                            <tr>
                                <td><b>Belgrano</b></td>
                                <td>Av. Cabildo 1592, CABA. Lu-Vi 10 a 19hs</td>
                            </tr>
                            <tr>
                                <td><b>San Miguel</b></td>
                                <td>Honduras 4748, CABA. Lu-Vi 8 a 17hs</td>
                            </tr>
                            <tr>
                                <td><b>Belgrano</b></td>
                                <td>Av. Cabildo 1592, CABA. Lu-Vi 10 a 19hs</td>
                            </tr>
                            <tr>
                                <td><b>San Miguel</b></td>
                                <td>Honduras 4748, CABA. Lu-Vi 8 a 17hs</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/global/bootstrap.min.js"></script>
</body>
</html>