<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Impuesto AR sobre pasajes">
<meta name="author" content="Presidencia de la Nación">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BackOffice teco</title>
<link href="/img/favicon.ico" rel="shortcut icon">

<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/lib/dataTables/DataTables-1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/lib/dataTables/Scroller-1.4.2/css/scroller.bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/lib/dataTables/Select-1.2.2/css/select.bootstrap.min.css" rel="stylesheet" type="text/css"/>

<link href="/lib/dataTables/Buttons-1.4.0/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css"/>
<link href="/lib/dataTables/Buttons-1.4.0/css/buttons.bootstrap.min.css" rel="stylesheet" type="text/css"/>

<link href="/lib/bootstrap-datepicker-v1.7/css/bootstrap-datepicker3.css" rel="stylesheet">
<link href="/lib/formValidation/css/formValidation.css" rel="stylesheet">
<link href="/lib/select2/css/select2.css" rel="stylesheet">
<link href="/lib/select2/css/select2-bootstrap.css" rel="stylesheet">
<link href="/styles/dataTables.css" rel="stylesheet">
<link href="/styles/dropdownLarge.css" rel="stylesheet">
<link href="/styles/global.css" rel="stylesheet" media="screen">
<link href="/lib/poncho/css/roboto-fontface.css" rel="stylesheet">
<link href="/lib/poncho/css/poncho.min.css" rel="stylesheet">


<script type="text/javascript" src="/lib/jquery/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/lib/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/bootbox/bootbox.js"></script>
<script type="text/javascript" src="/lib/dataTables/DataTables-1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/dataTables/DataTables-1.10.15/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/dataTables/Scroller-1.4.2/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="/lib/dataTables/Select-1.2.2/js/dataTables.select.min.js"></script>

<script type="text/javascript" src="/lib/dataTables/Buttons-1.4.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/lib/dataTables/Buttons-1.4.0/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="/lib/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="/lib/dataTables/Buttons-1.4.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/lib/dataTables/Buttons-1.4.0/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/lib/dataTables-rowsGroup/dataTables.rowsGroup.js"></script>

<script type="text/javascript" src="/lib/bootstrap-datepicker-v1.7/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/lib/formValidation/js/formValidation.js"></script>
<script type="text/javascript" src="/lib/formValidation/js/framework/bootstrap.js"></script>
<script type="text/javascript" src="/lib/formValidation/js/language/es_ES.js"></script>
<script type="text/javascript" src="/lib/jquery-number/jquery.number.custom.js"></script>
<script type="text/javascript" src="/lib/select2/js/select2.js"></script>
<script type="text/javascript" src="/lib/momentjs/momentjs.min.js"></script>
<script type="text/javascript" src="/lib/jquery-serialize-object/jquery.serialize-object.min.js"></script>
<script type="text/javascript" src="/js/global/bootstrapAlert.js"></script>
<script type="text/javascript" src="/js/global/dataTables.js"></script>
<script type="text/javascript" src="/js/global/dateUtils.js"></script>
<script type="text/javascript" src="/js/global/fn.js"></script>
<script type="text/javascript" src="/js/global/prototype.js"></script>
<script type="text/javascript" src="/js/global/validators.js"></script>
<script type="text/javascript" src="/js/components/alert.js"></script>
<script type="text/javascript" src="/js/components/modal.js"></script>
<script type="text/javascript" src="/js/components/select.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#logout").click(function (e) {
            e.preventDefault();
            bootbox.confirm("\u00BFEst\u00E1 seguro que desea salir?", function (result) {
                if (result) {
                    $("#form-logout").submit();
                }
            });
        });

        $(document).ajaxStart(function () {
            $('.spinner').css('visibility', 'visible');
        }).ajaxStop(function () {
            $('.spinner').css('visibility', 'hidden');
        });

        $(document).ajaxError(function (event, jqXHR, ajaxSettings, thrownError) {
            if (jqXHR.status == 403) {
                $('#messages-block').alertDanger({message: "No posee permisos suficientes", keepVisible: true});
            } else if (jqXHR.status == 401) {
                $('#messages-block').alertDanger({message: "Debe iniciar sesi&oacute;n en el sistema", keepVisible: true});
//             }else if(jqXHR.status == 500){
//             	$('#messages-block').alertDanger({message: jqXHR.statusText, keepVisible: true});
            }
        });

        $.teco = $.teco || {};
        $.teco.appCtx = '${pageContext.request.contextPath}';

        moment.locale('es');

    });

</script>