

<header>
  <nav id="menu" class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#main-navbar-collapse">
            <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="/img/teco_logo.png" height="50">
            <h1 class="sr-only">Telecom Personal
            </h1>
          </a>
        </div>


        <a class="navbar-brand pull-right hidden-xs" href="#"
           title="Marca Pa\u00EDs" style="margin-left:1em;">
          <img alt="Marca Pa&iacute;s" src="/img/logo2.png" height="40"
               style="margin-top:0.5em;">
        </a>
          <% if(session!=null && session.userId){ %>


          <div class="collapse navbar-collapse" id="main-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                    <a href="/backoffice/logout">
                        Salir
                    </a>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administraci&oacute;n<b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-large submenu row">
                  <li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ul>
                      <li>
                        <a href="/backoffice/oficina">Centros de Atenci&oacute;n
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <%}%>

          <!-- SEARCH FORM -->
          <div id="search_wrapper" class="col-sm-6 col-sm-offset-3">
            <div class="input-group stylish-input-group">
              <input type="text" class="form-control"
                     placeholder="Buscar tr&aacute;mites, servicios o &aacute;reas"> <span
                      class="input-group-addon">
							<button type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
            </div>
          </div>
        </sec:authorize>
      </div>
    </div>
  </nav>
</header>