<script type="text/javascript"
        src="/js/views/oficina/form.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#section-oficina-form').oficinaForm();
    });
</script>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header hidden-xs">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true"><span aria-hidden="true">&times;</span>
            </button>
            <h5>Alta de Centro de Atenci&oacute;n</h5>
        </div>
        <div class="page-body">
            <div id="messages-block" class="messages-block"></div>
            <div class="container-fluid">
                <section id="section-oficina-form">
                    <div id="messages-block" class="messages-block"></div>
                    <form id="frm-oficina">
                        <input type="hidden" id="id" name="id" value="<%=(item != null ? item.id : '')%>">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="value-type">Nombre</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="nombre" name="nombre"
                                               value="<%=(item != null ? item.nombre : '')%>" aria-describedby="suffix-addon" tabindex="1"/>
                                        <span class="input-group-addon" id="suffix-addon">&nbsp;&nbsp;&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="tipo">Tipo</label>
                                    <select name="tipo"
                                            id="tipo" class="form-control input-sm" tabindex="2">
                                        <option value=""></option>
                                        <%var of=item; tipos.forEach(function(value) { %>
                                        <%if(value.tipo==of.tipo){%>
                                        <option value="<%= value.tipo %>" selected="selected"><%= value.tipo %></option>
                                        <%}else{%>
                                        <option value="<%= value.tipo %>"><%= value.tipo %></option>
                                        <% }}); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="provincia">Provincia</label>
                                    <select name="provincia"
                                            id="provincia" class="form-control input-sm" tabindex="3">
                                        <option value=""></option>
                                        <%var of=item; provincias.forEach(function(value) { %>
                                        <%if(value.provincia==of.provincia){%>
                                        <option value="<%= value.provincia %>" selected="selected"><%= value.provincia %></option>
                                        <%}else{%>
                                        <option value="<%= value.provincia %>"><%= value.provincia %></option>
                                        <% }}); %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="localidad">Localidad</label>
                                    <select name="localidad"
                                            id="localidad" class="form-control input-sm" tabindex="4">
                                        <option value=""></option>
                                        <%var of=item; localidades.forEach(function(value) { %>
                                        <%if(value.localidad==of.localidad){%>
                                        <option value="<%= value.localidad %>" selected="selected"><%= value.localidad %></option>
                                        <%}else{%>
                                        <option value="<%= value.localidad %>"><%= value.localidad %></option>
                                        <% }}); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="value-type">Horario</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="horario" name="horario" tabindex="5"
                                               value="<%=(item != null ? item.horario : '')%>" aria-describedby="suffix-addon"/>
                                        <span class="input-group-addon" id="suffix-addon">&nbsp;&nbsp;&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="value-type">Coordenadas</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="coordenadas" name="coordenadas" tabindex="6"
                                               value="<%=(item != null ? item.coordenadas : '')%>" aria-describedby="suffix-addon"/>
                                        <span class="input-group-addon" id="suffix-addon">&nbsp;&nbsp;&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="value-type">Direccion</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="direccion" name="direccion" tabindex="7"
                                               value="<%=(item != null ? item.direccion : '')%>" aria-describedby="suffix-addon"/>
                                        <span class="input-group-addon" id="suffix-addon">&nbsp;&nbsp;&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="comprar-lineas">Comprar Lineas</label> <input
                                            type="checkbox" class="form-control input-sm"
                                            id="comprar-lineas" tabindex=8" name="comprarLineas"
                                            value="<%=item.comprarLineas%>" <%=(item != null&& item.comprarLineas=='1'?'checked' : '')%>>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="comprar-celular">Comprar Celular</label>
                                    <input type="checkbox" class="form-control input-sm"
                                            id="comprar-celular" tabindex="9" name="comprarCelular"
                                            value="<%=item.comprarCelular%>" <%=(item != null&& item.comprarCelular=='1'?'checked' : '')%>>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="pasar-personal">Pasar a Personal</label> <input
                                            type="checkbox" class="form-control input-sm"
                                            id="pasar-personal" tabindex="10" name="pasarPersonal"
                                            value="<%=item.pasarPersonal%>"  <%=(item != null&& item.pasarPersonal=='1'?'checked' : '')%>>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="recuperar-chip">Recuperar Chip</label> <input
                                            type="checkbox" class="form-control input-sm"
                                            id="recuperar-chip" tabindex="11" name="recuperarChip"
                                            value="<%=item.recuperarChip%>"  <%=(item != null&& item.recuperarChip=='1'?'checked' : '')%>>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="mejorar-plan">Mejorar Plan</label> <input
                                            type="checkbox" class="form-control input-sm"
                                            id="mejorar-plan" tabindex="12" name="mejorarPlan"
                                            value="<%=item.mejorarPlan%>"  <%=(item != null&& item.mejorarPlan=='1'?'checked' : '')%>>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <button id="btn-cancel" type="button" class="btn btn-default btn-block btn-sm"
                                            data-dismiss="modal" tabindex="13">
                                        Cancelar
                                    </button>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <button id="btn-save" type="submit" class="btn btn-primary btn-block btn-sm" tabindex="14">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </section>
            </div>
        </div>
    </div>
</div>