<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script type="text/javascript" src="/js/views/oficina/index.js"></script>
    <script type="text/javascript">
        $.teco.urlFilter = $.teco.urlFilter || "";
        $(document).ready(function () {
            $('#oficina-index').oficinaIndex();
        });
    </script>
</head>
<body>
<main role="main">
    <% include ../partials/menu.ejs %>

    <div class="container">
        <div class="spinner visible-lg visible-md visible-sm visible-xs"
             style="visibility: hidden; position: fixed; float: right; right: 20px; z-index: 9999999;">
            <img src="/img/loading.gif">
        </div>
            <ol class="breadcrumb hidden-sm hidden-xs">
                <li><a href="/">Portal Personal</a></li>
                <li>Administraci&oacute;n</li>
                <li class="active">Centro de Atenci&oacute;n</li>
            </ol>


            <div id="messages-block" class="messages-block"></div>
            <section id="oficina-index">
                <h4>
                    Centros de Atenci&oacute;n
                </h4>
                <div class="panel panel-default clearfix">
                    <div class="panel-body">
                        <form id="form-filter">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="nombre-filter">Nombre</label>
                                        <input type="text" class="form-control input-sm exclude-filter" id="nombre-filter"
                                               name="nombre"/>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="oficina-filter">Tipo</label>
                                        <select name="tipo"
                                                id="tipo-filter" class="form-control input-sm" >
                                            <option value="">Tipo de Oficina</option>
                                            <% tipos.forEach(function(item) { %>
                                            <option value="<%= item.tipo %>"><%= item.tipo %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="provincia-filter">Provincia</label>
                                        <select name="provincia"
                                                id="provincia-filter" class="form-control input-sm" >
                                            <option value=""></option>
                                            <% provincias.forEach(function(item) { %>
                                            <option value="<%= item.provincia %>"><%= item.provincia %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                    <button id="clear-btn" type="button" class="btn btn-default btn-block btn-sm"
                                            >
                                        Limpiar
                                    </button>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                                    <button id="buscar-btn" type="submit" class="btn btn-primary btn-block btn-sm"
                                            >
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <section id="responsive-table">
                    <div class="panel panel-default clearfix">
                        <div class="panel-body">
                            <table class="table table-hover table-striped table-bordered table-condensed"></table>
                        </div>
                    </div>
                </section>
            </section>
    </div>
    <% include ../partials/footer.ejs %>
</main>
</body>
</html>