/* standard */
/*
.ui-dialog { position: relative; padding: .2em; width: 300px; }
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
*/


.ui-dialog { 
	position: relative; 
	padding: .2em; width: 300px; 
	z-index: 1020;
}

.ui-button-icon-only { background: white !important; border-color: white !important; }
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; } 

.ui-dialog .ui-dialog-titlebar-close{outline:none; border:1px solid transparent; position:relative; top:0; left:7px; float:right; margin:0; background:none}

.ui-dialog .ui-dialog-titlebar-close span { display: block; }

.ui-dialog .ui-dialog-content { 
	border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1;
	height: auto }

.ui-dialog .ui-dialog-buttonpane { 
	text-align: left; 
	border-width: 0; 
	background-image: none; 
	padding: .3em 1em .5em .4em;
	margin: 0;
}


.ui-dialog .ui-dialog-buttonpane button { 
	border: 1px solid #003c79;
	background: #dfdfdf url(images/ui-bg_highlight-hard_100_dfdfdf_1x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #003c79;
	text-transform: uppercase;
	float: right;
	font-size: 10px;
	padding: 0.2em 1em;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

.ui-dialog .ui-dialog-buttonpane button:hover { 

	/*BORRAR*/	
	/*
	border-left:1px solid #d3d3d3;
	border-right:1px solid #d3d3d3;
	*/
}
	
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }


.ui-dialog .ui-dialog-titlebar .ui-icon-closethick {background-image: url("images/cerrar_dialog_on.png"); background-position: 0px 0px; margin-right: 6px;}
.ui-dialog .ui-dialog-titlebar .ui-state-hover .ui-icon-closethick {background-image: url("images/cerrar_dialog_over.png"); background-position: 0px 0px; margin-right: 6px;}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {padding: .4em; text-indent: -9999999px; }

/*
.ui-dialog {background: #FBFBFB; z-index: 99999 !important;}
.ui-dialog .ui-widget-header {border: 1px solid #FBFBFB; color: #0097D0; font-weight: bold; background: #FBFBFB;}
.ui-dialog .ui-dialog-buttonpane {border-top-width: 0; background: #FBFBFB;}
.ui-dialog .ui-dialog-titlebar .ui-icon-closethick {background-image: url("./images/cerrar_dialog_on.png"); background-position: 0px 0px; margin-right: 3px;}
.ui-dialog .ui-dialog-titlebar .ui-state-hover .ui-icon-closethick {background-image: url("./images/cerrar_dialog_over.png"); background-position: 0px 0px; margin-right: 3px;}
.ui-dialog .ui-dialog-titlebar .ui-state-hover {border: 1px solid #FBFBFB; background: #FBFBFB;}
.ui-dialog .ui-dialog-titlebar-close{outline:none; border:1px solid transparent; position:relative; top:0; left:7px; float:right; margin:0; background:none}
.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick{position:absolute; top:0; left:0}
.ui-dialog .ui-dialog-titlebar-close span {margin: 0px;}
.ui-button > .ui-widget-content .ui-state-default, .ui-button > .ui-widget-header .ui-state-default {background: none; border: 0px;}
*/
