<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>

    <script type="text/javascript" src="/js/views/login/login.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#section-login').login();
        });
    </script>
</head>
<body>
<main role="main">
    <% include ../partials/menu.ejs %>

    <div class="container">
        <div class="spinner visible-lg visible-md visible-sm visible-xs"
             style="visibility: hidden; position: fixed; float: right; right: 20px; z-index: 9999999;">
            <img src="/img/loading.gif">
        </div>
        <ol class="breadcrumb hidden-sm hidden-xs">
            <li><a href="/">Portal Personal</a></li>
            <li class="active">Ingreso</li>
        </ol>


        <div id="messages-block" class="messages-block"></div>
            <section id="section-login">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h1>Login</h1>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <% if(loginErrorMsg!=null && loginErrorMsg!=""){ %>
                            <div class="text-center alert alert-danger"><%=loginErrorMsg%></div>
                            <%  } %>
                            <% if(logoutMsg!=null && logoutMsg!=""){ %>
                            <div class="text-center alert alert-info"><%=logoutMsg%></div>
                            <%  } %>
                        </div>
                    </div>

                    <form id="login-form" name="loginForm" action="/backoffice/signin"
                          method="POST" class="form-signin" role="form">

                        <input type="hidden" name="${user.parameterName}" value="${user.token}"/>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="username">Nombre de Usuario</label>
                                    <input type="text" id="username" name="username"
                                           placeholder="Nombre de usuario"
                                    autofocus
                                    class="form-control input-sm" tabindex="1"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <input type="password" class="form-control input-sm" id="password" name="password"
                                           placeholder="Contraseña" tabindex="2"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
                                <input type="submit" value="Ingresar"
                                class="btn btn-primary btn-block btn-sm" tabindex="3"/>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
    </div>
    <% include ../partials/footer.ejs %>
</main>
</body>
</html>