.dropdown-large {
    position: static !important;
}

.dropdown-menu-large {
    padding: 0px 0px;
    border-radius: 0;
}

.dropdown-menu-large > li {
    padding: 0px;
}

.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
}

.dropdown-menu-large > li > ul > li {
    list-style: none;
}

.dropdown-menu-large > li > ul > li > a {
    display: block;
    clear: both;
    white-space: normal;
    /*width: 400px;*/
}

.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
}

.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
}

.submenu .dropdown-header {
    font-size: 22px;
    color: white;
    text-shadow: 2px 2px 2px #000;
    font-weight: 500;
}

@media (min-width: 768px) {
    .dropdown-menu-large {
        min-width: 570px;
    }

    .dropdown-menu-large > li > ul > li > a {
        width: 100%;
    }

    .submenu li a {
        padding-right: 9px !important;
    }

    .dropdown-menu li a {
        padding: 7px 15px;
        font-size: 15px;
    }

    .dropdown-menu li:first-of-type a {
        border-radius: 0;
    }

    .dropdown-menu li:last-of-type a {
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
        min-width: 160px;
    }

    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }

    .dropdown-menu-large > li:last-child {
        margin-bottom: 12px;
    }

    .dropdown-menu-large .dropdown-header {
        /*color: #ffffff !important;*/
        padding: 3px 15px !important;
    }

    .dropdown-menu-large > li {
        background: #0072bc !important;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

}