body {
    display: inherit;
}

section {
    padding: 10px 0 !important;
}

hr {
    margin: 10px 0 !important;
}

.form-group {
    margin-bottom: 15px !important;
}

.modal-header {
    padding: 5px 15px;
}

form .container-fluid {
    padding: 0px !important;
}

.alert {
    margin-top: 10px;
    margin-bottom: 10px !important;
}

input[type=checkbox].form-control, input[type=radio].form-control {
    width: 30px !important;
    height: 30px !important;
}

.select2-container--bootstrap {
    width: 100% !important;
}

.select2-container--bootstrap .select2-selection--single {
    color: #111 !important;
    font-size: 18px;
    height: 30px;
    padding: 2px 8px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #111 !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
    color: #76768f !important;
}

.select2-container--bootstrap .select2-selection--multiple {
    color: #111 !important;
    font-size: 18px;
    height: 30px;
    min-height: 30px;
    padding: 2px 8px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered {
    color: #111 !important;
    height: 25px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 0 0px;
    height: 30px;
    margin-top: -3px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    margin: 0px 0px 0 0px;
    padding: 0 6px;
    height: 25px;
    font-size: 16px;
}

.select2-container--bootstrap .select2-selection__clear {
    margin-right: 18px;
}

.select2-container--bootstrap .select2-search__field::-webkit-input-placeholder {
    font-weight: 400;
    color: #76768f;
}

.select2-container--bootstrap .select2-search__field:-moz-placeholder {
    font-weight: 400;
    color: #76768f;
}

.select2-container--bootstrap .select2-search__field::-moz-placeholder {
    font-weight: 400;
    color: #76768f;
    opacity: 1;
}

.select2-container--bootstrap .select2-search__field:-ms-input-placeholder {
    font-weight: 400;
    color: #76768f;
}

.form-filter .has-feedback i {
    top: 2% !important;
}

.form-filter .has-feedback i {
    top: 2% !important;
}

.certificateAmount-container .has-feedback i {
    top: 0 !important;
}

.phone-panel .has-feedback i, .internal-number-panel .has-feedback i, .fax-panel .has-feedback i {
    top: 0 !important;
}

.pagination > li > a, .pagination > li > span {
    padding: 3px 11px;
}

.bootbox .btn {
    font-size: 14px;
    padding: 6px 25px;
    height: 31px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.datepicker-months .datepicker-switch, .datepicker-months .prev, .datepicker-months .next {
    visibility: hidden;
    text-align: left !important;
}

.datepicker-months .datepicker-switch:after {
    visibility: visible;
    content: "Meses";
}

.form-control[readonly] {
    background-color: white;
}

.panel-default, .list-group {
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 15px !important;
}

.panel-heading-default {
    min-height: 0 !important;
}

input[type=checkbox], input[type=radio] {
    margin: 0px 0 0 !important;
}

input[readonly] {
    cursor: pointer !important;
    background-color: rgb(248, 248, 248) !important;
}

.large-number-input {
    font-size: 14px;
    text-align: right;

}

tfoot>tr>th.total-row {
    text-align: right;
    border: 1px #000000 solid !important;
    font-weight: 700;
    color: black;
}

tfoot>tr>th.total-row-airline {
    text-align: left;
    border: 1px #000000 solid !important;
    font-weight: 700;
    color: black;
}

.has-feedback input.input-sm.no-label ~ .form-control-feedback {
    top: 0;
}

.row .large-number-input-padding {
    padding: 0px 2px 0px 2px;
}

.row.row-large-number-input-padding {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.large-number-input-padding .has-feedback .form-control {
    padding-right: 7px;
}

.large-number-input-padding .has-feedback input.input-sm.no-label ~ .form-control-feedback {
    visibility: hidden;
}

.grouping-row-header {
    background: #87baf2 !important;
    cursor: pointer;
}

.grouping-row-footer {
    background: #bac7d6 !important;
}

.grouping-row-header:hover {
    background: #a4cdf9 !important;
}

.grouping-row-footer:hover{
    background: #c7ced6 !important
}

@media (min-width: 768px) {
    .five-cols .col-md-1,
    .five-cols .col-sm-1,
    .five-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .five-cols .col-md-1,
    .five-cols .col-sm-1,
    .five-cols .col-lg-1 {
        width: 20%;
        *width: 20%;
    }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
    .five-cols .col-md-1,
    .five-cols .col-sm-1,
    .five-cols .col-lg-1 {
        width: 20%;
        *width: 20%;
    }

    .hidden-label {
        visibility: hidden;
    }

    .hidden-label {
        visibility: hidden;
    }
}

tfoot>tr>th.subtotal{
    border-top: 1px solid #ddd !important;
}

span.label.label-primary{
    font-size: initial;
    margin: 0.3em;
    display: inline-block;
}

span.label.label-primary:hover {
    cursor: pointer;
}

textarea#template {
    margin: 1em 0;
    padding: 3em;
    text-align: justify;
    font-family: monospace;
    color: darkslategray;
    font-size: inherit;
}
