h1,h2{
	color:#00B7D7;
}

a, a:hover{
	color:#00B7D7;
}

a:hover{
	text-decoration: none;
}



/* FONT_FACE y familias de fuentes*/

@font-face{
	font-family:'tpstyle-icons';
	src:url("../fonts/tpstyle-icons.ttf") format("truetype")
}

@font-face{
	font-family:'Platform-regular';
	src:url("../fonts/platform-regular.eot");
	src:url("../fonts/platform-regular.eot") format("embedded-opentype"),
	url("../fonts/platform-regular.woff") format("woff"),
	url("../fonts/platform-regular.ttf") format("truetype"),
	url("../fonts/platform-regular.svg#Platform-regular") format("svg")
}

.platform-regular{
	font-family:'Platform-regular';
}

@font-face{
	font-family:'Platform-light';
	src:url("../fonts/platform-light.eot");
	src:url("../fonts/platform-light.eot") format("embedded-opentype"),
	url("../fonts/platform-light.woff") format("woff"),
	url("../fonts/platform-light.ttf") format("truetype"),
	url("../fonts/platform-light.svg#Platform-light") format("svg")
}

.platform-light{
	font-family:'Platform-light';
}

.platform-light-h1{
	font-family:'Platform-light';
	font-size: 3em;
}

.platform-light-h2{
	font-family:'Platform-light';
	font-size: 2.5em;
}



/* CABECERA 1 */

#titulos1{
	margin-top: 15px;
}



/* SLIDER */

.container-completo {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
}

#home-carousel {
	height: 600px;
	overflow: hidden;
	background: #0DB2C5;
	display: flex;
	align-items: center;
}

.menu-slider {
	position:absolute;
	top:150px;
	max-width: 450px;
	padding:50px 10px;
}

.card-title {
    margin-bottom: 0;
    color: #fff;
    display: block;
    background: #00B7D7;
    padding: 20px;
}

.triangulito {
    position:relative;
    word-wrap:break-word;
    margin-bottom:2em;
}

.triangulito:after{
    content:'';
    display:block;
    position:absolute;
    bottom:-28px;
    left:47%;
    width:0;
    height:0;
    border-color: #00B7D7 transparent transparent transparent; /*border color should be same as div div background color*/
    border-style: solid;
    border-width: 14px;
}

.list-group-item{
	border-top: none;
	background: #ffffff;
	margin: 0 20px;
	padding: .65rem 0.15rem;
}



/* Menu de navegación sobre el slider home*/

.nav-slider {
	background: rgba(255,255,255,.98);
	height: auto;
}

.nav-slider a{
	font-weight: bold;
}

.nav-slider a span{
	position: absolute;
	margin-top: 14px;
}


.nav-slider a:after{
	content: "\e258";
	font-family: 'Glyphicons Halflings';
	float: right;
	color: #087D83;
	margin-top: -43px;
}

.nav-slider > ul{
	padding: 20px;
}

.nav-slider > ul h3{
	margin-bottom: 30px;
	margin-top: 0;
	text-align: center;
}

.nav-slider > ul > a > li {
	display: block;
	border-bottom: 1px solid #cccccc;
	margin: 3px;
	padding-bottom: 5px;
}

.nav-slider > ul > a > li:hover{
	color: #087D83;
}

.nav-slider > ul > a > li i{	
	margin: 8px 10px 8px 0;
}	

.tpicon{
	position:relative;
	top:1px;
	display:inline-block;
	font-family:'tpstyle-icons';
	font-style:normal;
	font-size:30px;
	font-weight:normal;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.tpicon-equipos:before{
	content: "\22";
	color:#fff;
	background: #027e85;
	padding: 2px;
	border-radius: 5px;
} 

.tpicon-compra:before{
	content: "\3e";
	color:#fff;
	background: #fd116e;
	padding: 2px;
	border-radius: 5px;
}

.tpicon-micuenta2:before{
	content: "\e601";
	color:#fff;
	background: #00b0c5;
	padding: 2px;
	border-radius: 5px;
}

.tpicon-planes2:before{
	content: "\e603";
	color:#fff;
	background: #fdc000;
	padding: 2px;
	border-radius: 5px;
}

.tpicon-chips:before{
	content: "\3f";
	color:#fff;
	background: #027d86;
	padding: 2px;
	border-radius: 5px;
}




/* Botón dentro del menu sobre el slider home*/

.btn-slider {
	border:2px solid #00B7D7;
	background: #fff;
	color:#00B7D7;
	margin-top: 20px;
	font-weight: bold;
}

.btn-slider:hover {
	background: #00B7D7;
	margin-top: 20px;
	color:#fff;
}

.btn-slider span {
	margin: 0 10px 0 0;
}



/* CABECERA 2 */

.fondo-gris{
	background: #f9f9f9;
	padding: 25px 0 40px 0;
}

.card-md{
	background: transparent;
	border: none;
}

.card-header{
	border-bottom: none;
	padding-left: 0px !important;
	color:#00B7D7;
}

.table{
	border-top: 0;
}

.table tr td{
	border-top: none !important;
	border-bottom: 2px solid #e1e1e1;
	padding-left: 0px !important;
}



/* RESPONSIVE */

@media (max-width: 768px) {
	#home-carousel {
	height: auto;
	overflow: hidden;
	}
	.menu-slider {
	position:relative;
	min-width: 90%;	
	padding:10px;
	top: 0;
	}

	.platform-light-h1,.platform-light-h2{
		font-family:'Platform-light';
		font-size: 2em;
	}
	h3,h4 {
		font-size: 1.2em;
	}

}

	